<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Strona główna</title>
</head>
<body>
<main layout:fragment="content">
    <h2>O nas</h2>
    <div class="description">
        <p>
            Jesteśmy firmą specjalizującą się w organizacji niezapomnianych wycieczek dla osób ceniących przygodę i
            odkrywanie nowych miejsc. Dzięki naszemu doświadczeniu i pasji do podróży, zapewniamy klientom wyjątkowe
            wrażenia i pełne satysfakcji przygody. Nasze wycieczki są starannie zaplanowane i dopasowane do potrzeb
            każdego
            klienta, a nasi przewodnicy to eksperci w swoich dziedzinach, którzy chętnie dzielą się swoją wiedzą i
            doświadczeniem. Bezpieczeństwo i komfort naszych klientów są dla nas najważniejsze, dlatego dbamy o każdy
            szczegół podczas organizacji podróży. Zaufaj nam i pozwól się zabrać w niezapomnianą podróż!
        <p>Nasze wycieczki:</p>
        <ul>
            <li>Wyprawa na szczyt Kilimandżaro - zapierająca dech w piersiach przygoda dla miłośników trekkingu i
                pięknych krajobrazów.
            </li>
            <li>Wycieczka po egzotycznej Tajlandii - zwiedzanie kulturowych skarbów i relaks na rajskich plażach.</li>
            <li>Safari w Serengeti - niepowtarzalna okazja, aby zobaczyć wielkie afrykańskie zwierzęta w ich naturalnym
                środowisku.
            </li>
            <li>Pielgrzymka do Ziemi Świętej - emocjonująca podróż po najważniejszych miejscach dla chrześcijaństwa,
                judaizmu i islamu.
            </li>
            <li>Skandynawska przygoda - zimowa wyprawa na Lofoty, wędrówki w pięknych norweskich krajobrazach i
                obserwacja zorzy polarnych.
            </li>
        </ul>
    </div>
    <p class="contact"><a href="/contact">Skontaktuj się z nami!</a></p>
</main>
</body>
</html>